<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FAVICON -->
    <link rel="shortcut icon" href="img/leaf.png" type="image/x-icon">

    <!-- REMIX ICONS -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!-- FANCYBOX -->
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="css/styles.css">

    <title>Plant Website</title>
</head>

<body>
    <!-- HEADER -->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="index.html" class="nav__logo">
                <img src="img/leaf.png">Phu Tho Plant
            </a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="index.html#home" class="nav__link active-link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="index.html#faqs" class="nav__link">FAQs</a>
                    </li>
                    <li class="nav__item">
                        <a href="index.html#contact" class="nav__link">Contact us</a>
                    </li>
                    <li class="nav__item" id="login">
                        <a class="nav__link">Log in</a>
                    </li>

                </ul>

                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>

            <div class="nav__btns">
                <!-- Theme change button -->
                <i class="ri-moon-line change-theme" id="theme-button"></i>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-line"></i>
                </div>
            </div>
        </nav>
    </header>

    <main class="main">
        <section class="home" id="home"
            style="background-image: url('img/background.png'); background-position: center; background-size: cover;">
            <!-- HOME -->
            <div class="home__container container grid">
                <div class="home__search">
                    <form class="search" id="search-bar">
                        <input id="search-input" type="search" placeholder="Type something..." class="search__input">
                        <div class="search__button" id="search--button">
                            <i class="ri-search-2-line search__icon"></i>
                            <i class="ri-close-line search__close"></i>
                        </div>
                    </form>
                </div>

                <div class="home__data">
                    <p class="search-title">Result found!</p>
                    <div class="grid plant-grid">
                        <div class="plant-card" id="pc">
                            <a data-fancybox href="https://groot-plant.works/images/<%= tree.id  %>" class="anh"><img
                                    src=" https://groot-plant.works/images/<%= tree.id  %>"></a>
                            <div class="ten"><strong>Tên:</strong> <%= tree.ten %></div>
                            <div class="dang_song"><strong>Dạng Sống:</strong> <%= tree.dang_song %></div>
                            <div class="cong_dung"><strong>Công Dụng:</strong> <%= tree.cong_dung %></div>
                            <div class="sach_do"><strong>Sách Đỏ:</strong> <%= tree.sach_do %></div>
                            <div class="ten_bo"><strong>Tên Bộ:</strong> <%= tree.ten_bo %></div>
                            <div class="ten_bo1"><strong>Tên Bộ 1:</strong> <%= tree.ten_bo1 %></div>
                            <div class="ten_ho"><strong>Tên Họ:</strong> <%= tree.ten_ho %></div>
                            <div class="ten_ho1"><strong>Tên Họ 1:</strong> <%= tree.ten_ho1 %></div>
                            <div class="ten_chi"><strong>Tên Chi:</strong> <%= tree.ten_chi %></div>
                            <div class="ten_chi1"><strong>Tên Chi 1:</strong> <%= tree.ten_chi1 %></div>
                            <div class="ten_loai"><strong>Tên Loài:</strong> <%= tree.ten_loai %></div>
                            <div class="dong_danh"><strong>Đồng Danh:</strong> <%= tree.dong_danh %></div>
                            <div class="dac_diem_hinh_thai"><strong>Đặc điểm hình thái:</strong> <%= tree.dac_diem_hinh_thai %></div>
                            <div class="phan_bo_dia_ly"><strong>Phân bố địa lý:</strong> <%= tree.phan_bo_dia_ly %></div>
                            <div class="tinh_trang_bao_ton"><strong>Tình trạng bảo tồn, kinh doanh:</strong> <%= tree.tinh_trang_bao_ton %></div>
                            <div class="dac_diem_sinh_hoc"><strong>Đặc điểm sinh học và sinh thái học:</strong> <%= tree.dac_diem_sinh_hoc %></div>
                            <div class="tai_lieu_dan"><strong>Tài liệu dẫn:</strong> <%= tree.tai_lieu_dan %></div>
                        </div>
                    </div>
        </section>

    </main>

    <!-- FOOTER -->
    <footer class="footer section">
        <div class="footer__container container grid">
            <div class="footer__content">
                <a href="#" class="footer__logo">
                    <img src=img/leaf.png>Phu Tho Plant
                </a>

                <h3 class="footer__title">
                    Subscribe to our newsletter <br> to stay update
                </h3>

                <div class="footer__subscribe">
                    <input type="email" placeholder="Enter your email" class="footer__input">

                    <button class="button button--flex footer__button">
                        Subscribe
                        <i class="ri-arrow-right-up-line button__icon"></i>
                    </button>
                </div>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">Our Address</h3>

                <ul class="footer__data">
                    <li class="footer__information">Ha Noi, Viet Nam</li>
                    <li class="footer__information">HUST - Viet Nam</li>
                </ul>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">Contact Us</h3>

                <ul class="footer__data">
                    <li class="footer__information">+0123-456-789</li>

                    <div class="footer__social">
                        <a href="https://www.facebook.com/" class="footer__social-link">
                            <i class="ri-facebook-fill"></i>
                        </a>
                        <a href="https://www.instagram.com/" class="footer__social-link">
                            <i class="ri-instagram-line"></i>
                        </a>
                        <a href="https://twitter.com/" class="footer__social-link">
                            <i class="ri-twitter-fill"></i>
                        </a>
                    </div>
                </ul>
            </div>
        </div>
    </footer>

    <!--=============== SCROLL UP ===============-->
    <a href="#" class="scrollup" id="scroll-up">
        <i class="ri-arrow-up-fill scrollup__icon"></i>
    </a>

    <!--=============== SCROLL REVEAL ===============-->
    <script src="js/scrollreveal.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="js/main.js"></script>

</body>

</html>