<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FAVICON -->
    <link rel="shortcut icon" href="img/leaf.png" type="image/x-icon">

    <!-- REMIX ICONS -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="css/styles.css">

    <title>Plant Website</title>
</head>

<body>
    <!-- HEADER -->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="/" class="nav__logo">
                <img src="img/leaf.png">Phu Tho Plant
            </a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="index.html#home" class="nav__link active-link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="index.html#login" class="nav__link">Log in</a>
                    </li>
                    <li class="nav__item">
                        <a href="index.html#faqs" class="nav__link">FAQs</a>
                    </li>
                    <li class="nav__item">
                        <a href="index.html#contact" class="nav__link">Contact us</a>
                    </li>
                </ul>

                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>

            <div class="nav__btns">
                <!-- Theme change button -->
                <i class="ri-moon-line change-theme" id="theme-button"></i>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-line"></i>
                </div>
            </div>
        </nav>
    </header>

    <main class="main">
        <section class="home" id="home"
            style="background-image: url('img/background.png'); background-position: center; background-size: cover;">
            <!-- HOME -->
            <div class="home__container container grid">
                <div class="home__search">
                    <form class="new-search" id="new-search-bar">
                        <input id="new-search-input" type="search" placeholder="Type something..." name="q"
                            class="new-search__input">

                        <div class="new-search__button" id="new-search--button">
                            <i class="ri-search-2-line new-search__icon"></i>
                        </div>
                    </form>
                </div>

                <div class="home__data">
                    <h1 class="home__title">
                    </h1>
                    <table>
                        <tr>
                            <th>Tên</th>
                            <th>Dạng Sống</th>
                            <th>Công Dụng</th>
                            <th>Sách Đỏ</th>
                            <th>Tên Bộ</th>
                            <th>Tên Bộ 1</th>
                            <th>Tên Họ</th>
                            <th>Tên Họ 1</th>
                            <th>Tên Chi</th>
                            <th>Tên Chi 1</th>
                            <th>Tên Loài</th>
                            <th>Đồng Danh</th>
                            <th>Đặc điểm hình thái</th>
                            <th>Đặc điểm sinh học và sinh thái học</th>
                            <th>Phân bố địa lý</th>
                            <th>Tình trạng bảo tồn, kinh doanh</th>
                            <th>Tài liệu dẫn</th>

                        </tr>
                        <tr>
                            <td>
                                <%= tree.ten %>
                            </td>
                            <td>
                                <%= tree.dang_song %>
                            </td>
                            <td>
                                <%= tree.cong_dung %>
                            </td>
                            <td>
                                <%= tree.sach_do %>
                            </td>
                            <td>
                                <%= tree.ten_bo %>
                            </td>
                            <td>
                                <%= tree.ten_bo1 %>
                            </td>
                            <td>
                                <%= tree.ten_ho %>
                            </td>
                            <td>
                                <%= tree.ten_ho1 %>
                            </td>
                            <td>
                                <%= tree.ten_chi %>
                            </td>
                            <td>
                                <%= tree.ten_chi1 %>
                            </td>
                            <td>
                                <%= tree.ten_loai %>
                            </td>
                            <td>
                                <%= tree.dong_danh %>
                            </td>
                            <td>
                                <%= tree.dac_diem_hinh_thai %>
                            </td>
                            <td>
                                <%= tree.dac_diem_sinh_hoc %>
                            </td>
                            <td>
                                <%= tree.phan_bo_dia_ly %>
                            </td>
                            <td>
                                <%= tree.gia_tri %>
                            </td>
                            <td>
                                <%= tree.tinh_trang_bao_ton %>
                            </td>
                            <td>
                                <%= tree.tai_lieu_dan %>
                            </td>
                        </tr>
                        <div id="image-container">
                            <img id="image" src="">
                        </div>
                        <script>
                            const image = document.getElementById('image');
                           
                            image.src = `/images/${<%= tree.id %>}`;
                        </script>
                    </table>
                </div>
            </div>
        </section>

    </main>

    <!-- FOOTER -->
    <footer class="footer section">
        <div class="footer__container container grid">
            <div class="footer__content">
                <a href="#" class="footer__logo">
                    <img src=img/leaf.png>Phu Tho Plant
                </a>

                <h3 class="footer__title">
                    Subscribe to our newsletter <br> to stay update
                </h3>

                <div class="footer__subscribe">
                    <input type="email" placeholder="Enter your email" class="footer__input">

                    <button class="button button--flex footer__button">
                        Subscribe
                        <i class="ri-arrow-right-up-line button__icon"></i>
                    </button>
                </div>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">Our Address</h3>

                <ul class="footer__data">
                    <li class="footer__information">Ha Noi, Viet Nam</li>
                    <li class="footer__information">HUST - Viet Nam</li>
                </ul>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">Contact Us</h3>

                <ul class="footer__data">
                    <li class="footer__information">+0123-456-789</li>

                    <div class="footer__social">
                        <a href="https://www.facebook.com/" class="footer__social-link">
                            <i class="ri-facebook-fill"></i>
                        </a>
                        <a href="https://www.instagram.com/" class="footer__social-link">
                            <i class="ri-instagram-line"></i>
                        </a>
                        <a href="https://twitter.com/" class="footer__social-link">
                            <i class="ri-twitter-fill"></i>
                        </a>
                    </div>
                </ul>
            </div>
        </div>
    </footer>

    <!--=============== MAIN JS ===============-->
    <script src="js/main.js"></script>
</body>

</html>